{
  "presets": [
    "@babel/preset-env",
    [
      "@babel/preset-react",
      {
        "targets": {
          "browsers": "last 2 versions"
        },
        "modules": false,
        "loose": false
      }
    ]
  ],
  "plugins": ["transform-class-properties", "module-resolver","@babel/transform-runtime"],
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
